body {
    background: rgb(31, 30, 30);
    color: azure;

    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 👈 ESSENCIAL */
    margin: 0;
}
div{
    
    background: rgb(55, 55, 55);
    border-radius: 15px;
     padding: 20px; 
     
    
}
footer {
    text-align: center;
    padding: 10px;
}
h1{
    text-align: center;
}
#res{
    text-align: center;
    
}
#foto {
    display: block;
    margin: 20px auto;

}
main {
    margin: auto;        /* centraliza */
    max-width: 400px;
    width: 100%;
}
